// Here you can add other styles
.cardBody_orders{
    padding:'0px !important'
}
.tableCard{
    border:1px solid #000000 !important
}

.total_card {
    border-top:1px solid #000 !important
}
.customer_order{
    border-bottom:1px solid #000 !important;
}
.appept_btn{
    border-radius: 15px !important;
    color: #FFF !important;
}
.white_bt{
    color: #FFF !important;
}
.mg_auto{
    margin:auto !important;
}
.open_order{
    background-color: #ed8200 !important;
}
.new_order {
    background-color: #35e81b !important;
}
.bg1_red{
    background-color: #f90000 !important;
}
.non_border{
    border-radius: unset !important;
}
.pickup{
    background-color: #87ff77 !important;
}
.th{
    color: #000000 !important;
    font-weight: 600;
}
